@font-face {
  font-family: 'Mont';
  src: url('./Assets/fonts/Montserrat/static/Montserrat-Medium.ttf')
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mont!important;
}
html, body {
  width: 100vw;
  height: 100vh;
  font-family: Mont!important;
}

.container {
  max-width: 980px;
  margin-inline: auto;
}